.form-control
{
    height:auto;
}

#applicationFormNav .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    /* background-color: #223e87;
    color: #fff; */
    border-bottom: 5px solid #223e87;
    color: black;
}

#applicationFormNav .nav-pills .nav-link
{
    border-radius: 0px;
    background-color:#ffffff;
    color:black;
}

#commentCanvas
{
    height: 60vh !important;
}

.ag-header-viewport
{
    background-color: #233f88;
    color: #ffffff;
}

.ag-header-cell-text
{
    color:#ffffff;
}